.MainPageDiv {
  width: 100%;
  height: 100%;
}

.TopText {
  text-align: center;
  color: #FFD700;
  font-family: 'Death star font';
  font-size: 150%;
  letter-spacing: 0.1em;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin: 20px 0px 20px;
  z-index: 1;
}

.CustomCarouselDiv {
  width: 100%;
  height: 100%;
  min-height: 650px;
  background-color: #2D2D2D;
  text-align: center;
}

.MainText {
  text-align: center;
  color: #FFD700;
  font-family: 'Death star font';
  font-size: 800%;
  letter-spacing: 0.1em;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  margin: 20px 0px 20px;
  z-index: 1;
}

.MainText:hover {
  animation: moveSlideshow 3s linear;
  animation-fill-mode: forwards;
}

.Movies {
  min-height: 700px;
  margin: 16px 48px 16px;
  font-family: 'Death star font';
  text-align: center;

}

.MoviesTitle {
  color: white;
  font-size: 300%;
  letter-spacing: 0.1em;
  text-align: center;
  margin: 12px 0px 24px;
}

.MoviesInformation {
  margin: 0;
  padding: 0;
  display: inline-block;
  max-width: 1800px;
}