.CarouselItemDiv {
  width: 100%;
  height: 100%;
}

.CarouselItemRow {
  width: 100%;
  height: 90%;
  top: 5%;
  max-height: 600px;
  max-width: 500px;
}

.CarouselItemCol {
  width: 100%;
  height: 100%;
  min-height: 600px;
  max-width: 600px;
}

.ItemText {
  top: 80%;
  height: 10%;
  width: 100%;
  position: absolute;
  text-align: center;
  color: #E8E8E8;
  font-family: 'Death star font';
  font-size: 180%;
  z-index: 1;
  transition: 0.5s ease-in-out;
  text-shadow: 0 0 0 transparent,0 0 0 transparent;
}

.BackGroundImage {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .4;
  width: 100%;
  height: 100%;
}

.ItemText:hover {
  color: #FFD700;
  font-family: 'Death star font';
  font-size: 230%;
  letter-spacing: 0.2em;
  z-index: 1;
  text-shadow: 0 0 2px #FFDA17,0 0 2px #FFDA17;
}