.Vehicles, .PaginationLoading {
  color: #E8E8E8;
  font-family: 'Death star font';
  font-size: 200%;
  text-align: center;
}

.MainVehicles {
  padding-bottom: 300px;
}

.VehiclesRow {
  height: 100%;
}

@media (max-width: 500px) {
  .VehiclesCol {
    height: 500px;
  }
}

@media (min-width: 501px) and (max-width: 999px) {
  .VehiclesCol {
    height: 500px;
  }
}

@media (min-width: 1000px) and (max-width: 1365px) {
  .VehiclesCol {
    height: 470px;
  }
}

@media (min-width: 1366px) and (max-width: 1450px) {
  .VehiclesCol {
    height: 360px;
  }
}

@media (min-width: 1451px) {
  .VehiclesCol {
    height: 310px;
  }
}

@media (max-height: 1024px) {
  .MainVehicles {
    padding-bottom: 0px;
  }
}

@media (min-height: 1025px) and (max-height: 1079px) {
  .MainVehicles {
    padding-bottom: 124px;
  }
}

@media (min-height: 1080px) and (max-height: 1199px) {
  .MainVehicles {
    padding-bottom: 0px;
  }
}

@media (min-height: 1200px) {
  .MainVehicles {
    padding-bottom: 54px;
  }
}