/* ----------------MULTIPLE--------------- */

.CardContentTitle {
  color: #FFD700;
  font-size: 180%;
  padding: 8px 0px 4px;
}

.CardContentArea {
  height: 100%;
}

.CardContent {
  color: #E8E8E8;
  font-family: 'Death star font';
  letter-spacing: 0.1em;
  font-size: 130%;
  justify-content: center;
  padding: 16px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  vertical-align: middle;
}

.ContentFilteredCollection {
  font-size: 120%;
  margin: 8px;
}

.ContentProperty {
  display: inline-block;
  vertical-align: middle;
  font-weight: lighter;
  margin-right: 2px;
}

.ContentValue {
  display: inline-block;
  vertical-align: middle;
  font-size: 140%;
}

.FilmPoster {
  width: 100%;
  height: 275px;
  vertical-align: middle;
}

/* ----------------SINGLE--------------- */

.SingleCardContent {
  color: #E8E8E8;
  font-family: 'Death star font';
  font-size: 140%;
  justify-content: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  vertical-align: middle;
}

.SingleCardTitle {
  color: #FFD700;
  font-size: 220%;
  padding: 8px 0px 4px;
}

.SingleContentFilteredCollection {
  font-size: 120%;
  margin: 8px;
}

.SingleContentProperty {
  display: inline-block;
  vertical-align: middle;
  font-weight: lighter;
  margin-right: 2px;
}

.SingleContentData {
  display: inline-block;
  vertical-align: middle;
  font-size: 140%;
}

.SingleContentDataYellow {
  display: inline-block;
  vertical-align: middle;
  font-size: 140%;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #FFD700;
}

@media (max-width: 425px) {
  .FilmPoster {
    height: 0;
  }
}

@media (min-height: 1440px) and (max-height: 2159px)  {
  .CollectionInformation {
    font-size: 140%;
  }

  .FilmPoster {
    height: 450px;
  }
}

@media (min-height: 2160px) {
  .CollectionInformation {
    font-size: 170%;
  }

  .FilmPoster {
    height: 450px;
  }
}