.Layout {
  width: 100%;
}

.MainContent {
  margin: 1% 5% 3% 5%;
}

.Content {
  margin: 0;
}

.Header {
  height: 100px;
}

@media (min-height: 1024px) {
  .Content {
    margin: 0 0 60px;
  }
}

@media (max-width: 567px) {
  .Layout {
    background: #363636;
  }
  .Header {
    display: none !important;
  }
  .Footer {
    display: none !important;
  }
}