.Starships {
  color: #E8E8E8;
  font-family: 'Death star font';
  font-size: 200%;
  text-align: center;
}

.PaginationLoading {
  padding-top: 0;
  color: #E8E8E8;
  font-family: 'Death star font';
  font-size: 200%;
  text-align: center;
}

.MainStarships {
  padding-bottom: 0;
  height: 100%;
  min-height: 85vh;
}

.MainRow {
  margin: 0;
  min-height: 85vh;
}

.MainCol {
  margin: 0;
  min-height: 85vh;
}

.SecondRow {
  margin: 0;
  min-height: 85vh;
}

@media (max-width: 399px) and (max-height: 850px) {
  .MainStarships {
    padding-bottom: 0px;
  }
}

@media (min-width: 400px) and (max-width: 500px) and (max-height: 850px) {
  .MainStarships {
    padding-bottom: 0px;
  }
}

@media (min-width: 500px) and (max-width: 767px) and (max-height: 850px) {
  .MainStarships {
    padding-bottom: 0px;
  }
  .StarshipsCol {
    height: 350px;
  }
}

@media (min-width: 768px) and (max-width: 1365px) and (max-height: 600px) {
  .MainStarships {
    padding-bottom: 0px;
  }
}

@media (min-width: 1366px) and (max-width: 1919px) and (min-height: 768px) and (max-height: 1079px) {
  .MainStarships {
    padding-bottom: 0px;
  }
  .StarshipsCol {
    height: 320px;
  }
}

@media (min-width: 1920px) and (max-width: 2559px) and (min-height: 1080px) and (max-height: 1439px) {
  .MainStarships {
    padding-bottom: 0px;
  }
  .StarshipsCol {
    height: 500px;
  }
}

@media (min-width: 2560px) and (max-width: 3839px) and (min-height: 1440px) and (max-height: 2159px) {
  .StarshipsCol {
    height: 500px;
  }
}

@media (min-width: 3840px) and (min-height: 2160px) {
  .StarshipsCol {
    height: 550px;
  }
}