.Starships {
  color: #E8E8E8;
  font-family: 'Death star font';
  font-size: 200%;
  text-align: center;
}

.PaginationLoading {
  padding-top: 0;
  color: #E8E8E8;
  font-family: 'Death star font';
  font-size: 200%;
  text-align: center;
}

.MainStarships {
  padding-bottom: 0;
  height: 100%;
  min-height: 85vh;
}

.MainRow {
  margin: 0;
  min-height: 85vh;
}

.MainCol {
  margin: 0;
  min-height: 85vh;
}

.SecondRow {
  margin: 0;
  min-height: 85vh;
}

@media (max-width: 500px) {
  .StarshipsCol {
    height: 500px;
  }
}

@media (min-width: 501px) and (max-width: 999px) {
  .StarshipsCol {
    height: 500px;
  }
}

@media (min-width: 1000px) and (max-width: 1365px) {
  .StarshipsCol {
    height: 470px;
  }
}

@media (min-width: 1366px) and (max-width: 1450px) {
  .StarshipsCol {
    height: 360px;
  }
}

@media (min-width: 1451px) {
  .StarshipsCol {
    height: 310px;
  }
}

@media (max-height: 767px) {
  .MainStarships {
    padding-bottom: 0px;
  }
}

@media (min-height: 768px) and (max-height: 1079px) {
  .MainStarships {
    padding-bottom: 0px;
  }
  .StarshipsCol {
    height: 450px;
  }
}

@media (min-height: 1080px) and (max-height: 1199px) {
  .MainStarships {
    padding-bottom: 0px;
  }
}

@media (min-height: 1200px) and (max-height: 1439px)  {
  .MainStarships {
    padding-bottom: 54px;
  }
}

@media (min-height: 1440px) and (max-height: 2159px)  {
  .StarshipsCol {
    height: 420px;
  }
}

@media (min-height: 2160px) {
  .StarshipsCol {
    height: 420px;
  }
}
