.Starships, .PaginationLoading {
  color: #E8E8E8;
  font-family: 'Death star font';
  font-size: 200%;
  text-align: center;
}

.MainStarships {
  padding-bottom: 300px;
}

.StarshipsRow {
  height: 100%;
}



@media (min-width: 1366px) {
  .StarshipsCol {
    height: 360px;
  }
}

@media (min-height: 768px) and (max-height: 1079px) {
  .MainStarships {
    padding-bottom: 124px;
  }
}

@media (min-height: 1080px) {
  .MainStarships {
    padding-bottom: 0px;
  }
}