.Starships, .PaginationLoading {
  color: #E8E8E8;
  font-family: 'Death star font';
  font-size: 200%;
  text-align: center;
}

@media (min-width: 1366px) {
  .StarshipsCol {
    height: 100%;
    max-height: 400px;
  }

  .StarshipsRow {
    height: 100%;
  }
}