.Footer {
  padding-top: 0px;
  color: #DDD;
  font-size: 125%;
  letter-spacing: 0.1em;
  font-weight: 500;
}

.FooterRoot {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

.NavLink {
  text-decoration: none;
  color: #DDD;
}

.NavLink:hover {
  color: #FFD700;
}

@media (max-height: 767px) {
  .MainPeople {
    padding-bottom: 0px;
  }
}

@media (min-height: 768px) and (max-height: 1079px) {
  .Footer {
    padding-top: 112px;
  }
}

@media (min-height: 1080px) and (max-height: 1439px) {
  .Footer {
    padding-top: 70px;
  }
}

@media (min-height: 1440px) and (max-height: 2159px) {
  .Footer {
    padding-top: 20px;
  }
}

@media (min-height: 2160px) {
  .Footer {
    padding-top: 24px;
  }
}