.Footer {
  padding-top: 0px;
}

.FooterRoot {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

@media (min-height: 769px) and (max-height: 1023px) {
  .Footer {
    padding-top: 180px;
  }
}

@media (min-height: 1024px) {
  .Footer {
    padding-top: 70px;
  }
}

@media (min-height: 1200px) {
  .Footer {
    padding-top: 10px;
  }
}