.SideDrawer {
  position: fixed;
  width: 300px;
  max-width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 200;
  background-color: #222;
  padding: 16px 16px;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
}

@media (min-width: 500px) {
  .SideDrawer {
    display: none;
  }
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-100%);
}

.LogoRow {
  height: 15%;
  margin-bottom: 16px;
}

.LogoRow .Logo {
  height: 90%;
}

.navigationItemsDiv {
  width: 100%;
  padding-bottom: 100px;
  border-top: 1px solid white;
}