.Planets {
  color: #E8E8E8;
  font-family: 'Death star font';
  font-size: 200%;
  text-align: center;
}

.PaginationLoading {
  padding-top: 0;
  color: #E8E8E8;
  font-family: 'Death star font';
  font-size: 200%;
  text-align: center;
}

.MainPlanets {
  padding-bottom: 0;
  height: 100%;
  min-height: 85vh;
}

.MainRow {
  margin: 0;
  min-height: 85vh;
}

.MainCol {
  margin: 0;
  min-height: 85vh;
}

.SecondRow {
  margin: 0;
  min-height: 85vh;
}

@media (max-width: 999px) {
  .PlanetsCol {
    height: 420px;
  }
}

@media (min-width: 1000px) and (max-width: 1449px) {
  .PlanetsCol {
    height: 370px;
  }
}

@media (min-width: 1451px) {
  .PlanetsCol {
    height: 310px;
  }
}

@media (max-height: 767px) {
  .MainPlanets {
    padding-bottom: 0px;
  }
}

@media (min-height: 768px) and (max-height: 1079px) {
  .MainPlanets {
    padding-bottom: 0px;
  }
  .PlanetsCol {
    height: 320px;
  }
}

@media (min-height: 1080px) and (max-height: 1199px) {
  .MainPlanets {
    padding-bottom: 0px;
  }
}

@media (min-height: 1200px) and (max-height: 1439px)  {
  .MainPlanets {
    padding-bottom: 54px;
  }
}

@media (min-height: 1440px) and (max-height: 2159px)  {
  .PlanetsCol {
    height: 360px;
  }
}

@media (min-height: 2160px) {
  .PlanetsCol {
    height: 420px;
  }
}
