.Planets, .PaginationLoading {
  font-family: 'Death star font';
  font-size: 200%;
  color: #E8E8E8;
  text-align: center;
}

.CardContentTitle{
  justify-content: center;
  padding: 4px;
  color: #FFD700;
  font-size: 200%;
  font-family: 'Death star font';
}

.CardContent {
  justify-content: center;
  vertical-align: middle;
  padding: 4px;
  font-size: 140%;
  color: #E8E8E8;
  font-family: 'Death star font';
}

.ContentProperty {
  display: inline-block;
  vertical-align: middle;
  font-weight: lighter;
  margin-right: 2px;
}

.ContentData {
  display: inline-block;
  vertical-align: middle;
  font-size: 140%;
}