.App {
  text-align: center;
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  min-height: 85vh;
  position: relative;
  width: 100%;
  height: 100%;
}

/* ------------------------------------- */
/* ----------------MARGIN--------------- */
/* ------------------------------------- */

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mr-0 {
  margin-right: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.m-sm {
  margin: 4px;
}

.mt-sm {
  margin-top: 4px;
}

.mr-sm {
  margin-right: 4px;
}

.mb-sm {
  margin-bottom: 4px;
}

.ml-sm {
  margin-left: 4px;
}

.mv-sm {
  margin-top: 4px;
  margin-bottom: 4px;
}

.mh-sm {
  margin-right: 4px;
  margin-left: 4px;
}

.m-md {
  margin: 8px;
}

.mt-md {
  margin-top: 8px;
}

.mr-md {
  margin-right: 8px;
}

.mb-md {
  margin-bottom: 8px;
}

.ml-md {
  margin-left: 8px;
}

.mv-md {
  margin-top: 8px;
  margin-bottom: 8px;
}

.mh-md {
  margin-left: 8px;
  margin-right: 8px;
}

.m-lg {
  margin: 12px;
}

.mt-lg {
  margin-top: 12px;
}

.mr-lg {
  margin-right: 12px;
}

.mb-lg {
  margin-bottom: 12px;
}

.ml-lg {
  margin-left: 12px;
}

.mv-lg {
  margin-top: 12px;
  margin-bottom: 12px;
}

.mh-lg {
  margin-left: 12px;
  margin-right: 12px;
}

.m-xl {
  margin: 16px;
}

.mt-xl {
  margin-top: 16px;
}

.mr-xl {
  margin-right: 16px;
}

.mb-xl {
  margin-bottom: 16px;
}

.ml-xl {
  margin-left: 16px;
}

.mv-xl {
  margin-top: 16px;
  margin-bottom: 16px;
}

.mh-xl {
  margin-left: 16px;
  margin-right: 16px;
}

/* ------------------------------------- */
/* ---------------PADDING--------------- */
/* ------------------------------------- */

.p-0 {
  padding: 0;
}

.pt-0 {
  padding-top: 0;
}

.pr-0 {
  padding-right: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pl-0 {
  padding-left: 0;
}

.p-sm {
  padding: 4px;
}

.pt-sm {
  padding-top: 4px;
}

.pr-sm {
  padding-right: 4px;
}

.pb-sm {
  padding-bottom: 4px;
}

.pl-sm {
  padding-left: 4px;
}

.pv-sm {
  padding-top: 4px;
  padding-bottom: 4px;
}

.ph-sm {
  padding-right: 4px;
  padding-left: 4px;
}

.p-sm {
  padding: 8px;
}

.pt-md {
  padding-top: 8px;
}

.pr-md {
  padding-right: 8px;
}

.pb-md {
  padding-bottom: 8px;
}

.pl-md {
  padding-left: 8px;
}

.pv-md {
  padding-top: 8px;
  padding-bottom: 8px;
}

.ph-md {
  padding-right: 8px;
  padding-left: 8px;
}

.pt-lg {
  padding-top: 12px;
}

.pr-lg {
  padding-right: 12px;
}

.pb-lg {
  padding-bottom: 12px;
}

.pl-lg {
  padding-left: 12px;
}

.pv-lg {
  padding-top: 12px;
  padding-bottom: 12px;
}

.ph-lg {
  padding-right: 12px;
  padding-left: 12px;
}

.pt-xl {
  padding-top: 16px;
}

.pr-xl {
  padding-right: 16px;
}

.pb-xl {
  padding-bottom: 16px;
}

.pl-xl {
  padding-left: 16px;
}

.pv-xl {
  padding-top: 16px;
  padding-bottom: 16px;
}

.ph-xl {
  padding-right: 16px;
  padding-left: 16px;
}