.App {
  text-align: center;
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: relative;
  width: 100%;
  height: 100%;
}

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mr-0 {
  margin-right: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.mt-sm {
  margin-top: 4px;
}

.mr-sm {
  margin-right: 4px;
}

.mb-sm {
  margin-bottom: 4px;
}

.ml-sm {
  margin-left: 4px;
}

.mv-sm {
  margin: 4px 0 4px;
}

.mh-sm {
  margin: 0 4px 0;
}

.p-0 {
  padding: 0;
}

.pt-0 {
  padding-top: 0;
}

.pr-0 {
  padding-right: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pl-0 {
  padding-left: 0;
}

.pt-sm {
  padding-top: 4px;
}

.pr-sm {
  padding-right: 4px;
}

.pb-sm {
  padding-bottom: 4px;
}

.pl-sm {
  padding-left: 4px;
}

.pv-sm {
  padding: 4px 0 4px;
}

.ph-sm {
  padding: 0 4px 0;
}