.MainDiv {
  height: 400px;
}

.MapMovieDiv {
  margin-top: 48px;
}

.Card {
  background-color: #222;
  color: #DDD;
  font-size: 150%;
  height: 320px;
  margin: 0;
  letter-spacing: 0.2em;
  border-radius: 10px;
}

.MovieRow {
  height: 100%;
  margin: 0;
  padding: 0;
}

.MovieImage {
  border-right: 3px solid #FFD700;
  margin: 0;
  padding: 0;
}

.MovieTitle {
  font-size: 200%;
  padding: 8px 8px 4px 24px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: start;
}

.MovieDescription {
  border-top: 1px #ddd solid;
  font-size: 130%;
  letter-spacing: 0.1em;
  margin-left: 4px;
  padding: 12px 12px 0 8px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: justify;
}

.MovieMainCol {
  margin: 0;
  padding: 0 16px 0 4px;
}

.ColMainDiv {
  text-align: center;
  width: 100%;
  height: 12px;
  background-color: #363636;
  margin-bottom: 8px;
}

.ColFirstDiv {
  border-top: 12px solid #222;
  border-top-right-radius: 20px;
  float: left;
  width: 40%;
}

.ColSecondDiv {
  border-top: 12px solid transparent;
  display: inline-block;
  width: 10%;
}

.ColThirdDiv {
  border-top: 12px solid #222;
  border-top-left-radius: 20px;
  float: right;
  width: 40%;
}

.Card:hover {
  color: #FFD700;
}