.MainDiv {
  margin-bottom: 24px;
  height: 400px;
}

.Card {
  background-color: #222;
  margin: 12px 0 12px;
  color: white;
  font-size: 150%;
  letter-spacing: 0.1em;
  height: 300px;
  color: #DDD;
}

.MovieRow {
  margin: 8px 4px 8px;
  height: 100%;
}

.MovieImage {
  border-right: 3px solid #FFD700;
  margin-right: 12px;
}

.MovieTitle {
  font-size: 250%;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: start;
  border-bottom: 1px #ddd solid;
}

.MovieDescription {
  margin-left: 4px;
  font-size: 140%;
  padding: 8px 12px 0 0;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: justify;
}